html {
    font-family: MuseoSans-300;
}

.hamburger::after,
.hamburger::before {
    content: "";
    position: absolute;
    width: 10vw;
    height: 5px;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.hamburger::before {
    top: -16px;
}

.hamburger::after {
    top: 16px;
}